* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans';
  font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.proba {
  max-height: 95vh;
  width: 100%;
  border: 2px solid red;
  overflow-y: scroll;
}

.proba div {
  width: 100%;
  min-height: 95vh;
  border: 1px solid black;
}

.header {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .left_menu {
  position: relative;
  width: 230px;
  height: 100%;
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.header .left_menu .kompaniya_logo {
  height: auto;
  width: 100%;
  position: relative;
}

.header .left_menu .kompaniya_logo a {
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: bold;
  color: white;
  position: relative;
  text-decoration: none;
}

.header .left_menu .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .left_menu .header_menu ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 5px;
  display: block;
  font-size: 15px;
  letter-spacing: 1.5px;
  overflow: visible;
}

.header .left_menu .header_menu ul li a::before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
  top: 50%;
  width: 10px;
  height: 1px;
  background: white;
}

.header .left_menu .control_audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  position: relative;
}

.header .left_menu .control_audio div {
  height: 100%;
  width: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@-webkit-keyframes anim_audio {
  100% {
    -webkit-transform: scaleY(var(--i));
            transform: scaleY(var(--i));
  }
}

@keyframes anim_audio {
  100% {
    -webkit-transform: scaleY(var(--i));
            transform: scaleY(var(--i));
  }
}

.header .left_menu .control_audio div span {
  height: 9px;
  width: 1px;
  background: white;
  position: relative;
}

.header .left_menu .control_audio div .span_toggle {
  -webkit-animation: anim_audio calc(var(--i)*0.5s) linear alternate infinite;
          animation: anim_audio calc(var(--i)*0.5s) linear alternate infinite;
}

.header .site_name {
  position: relative;
  width: 74.5%;
  height: 100%;
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
}

.header .big_menu {
  position: relative;
  width: 8.7%;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top: 1px solid gray;
}

#home {
  background-image: url(https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-attachment: fixed;
  border-top: none;
}

#my_projects {
  background-image: url();
  background-attachment: fixed;
}

#about_me {
  background-image: url();
  background-attachment: fixed;
}

#contact_me {
  background-image: url();
  background-attachment: fixed;
}
/*# sourceMappingURL=style.css.map */